Django==1.9a1
Pillow==2.9.0
argparse==1.2.1
coverage==4.0
django-auth-ldap-ng==1.0.0
django-braces==1.8.1
django-oauth-toolkit==0.9.0
django-recaptcha==1.0.4
djangorestframework==3.2.4
gevent==1.0.2
greenlet==0.4.9
gunicorn==19.3.0
oauthlib==1.0.3
psycopg2==2.6.1
python-ldap==2.4.20
six==1.9.0
wsgiref==0.1.2
