<h4>We are trying to provide best we can. Efforts from your side are appreciated. Here are few library
    implementations</h4>

<h3>PHP</h3>

<p class="doc">
    <a href="https://github.com/BijoySingh" target="_blank">BijoySingh</a> is maintaining a
    <a href="https://github.com/BijoySingh/IITB-OAuth-PHP" target="_blank">PHP library</a>
    The documentation is present <a href="http://bijoysingh.github.io/IITB-OAuth-PHP/" target="_blank">here</a>
</p>

<h3>Python</h3>

<p class="doc">
    Python library is maintained <a href="https://github.com/DheerendraRathor/iitb_oauth_py"
                                    target="_blank">here</a>. This is currently in alpha version
</p>

