{% load absolute_url %}

<h4>Before reading this section, go through <code>basic</code> section once</h4>

<h4>For the ease of users and application developers, we've created some widgets for you. Using widgets
    will provide extra contextual information to your users</h4>

<h3>Login Widget</h3>

<div class="doc">
    By including few lines of html and javascript in your web-page, you can get nice looking login button
    which changes according to user logged-in. Here is an example: <br><br>

    <div id="sso-root"></div>

    To include these widgets follow these steps
</div>
<ul class="doc">
    <li>Include
        <code>&lt;script src="{% absolute_url login_js_url %}"
            type="application/javascript"&gt;&lt;/script&gt; </code>
        in your html file
    </li>
    <li>
        Include <code>&lt;div id="sso-root"&gt;&lt;/div&gt;</code> in your html where you want to keep your
        login button
    </li>
    <li>
        Now write some primary configuration for button to work
<pre>
{% filter force_escape %}
    <script type="application/javascript">

        new SSO_JS({
            config: {
                client_id: 'your-long-client-id',   // Compulsory
                scope: ['basic', 'profile'],    // Optional. Default is  ['basic']
                state: '', // Optional. Default None
                response_type: 'code',  // Optional. Default is 'code'
                redirect_uri: 'uri-for-redirection',    //Optional
                new_window: 'false',    // Optional.
                                        // Where authorization page should be opened in new tab or
                                        // same tab Default is false.
                sso_root: document.getElementById('sso-root'),
                /* Optional
                 document.getElementById don't work if your element is not in light DOM. In that case you need to
                 provide selector here. In most of the cases this will work.
                 */
            },
            colors: { // All Optional
                button_div_bg_color: '303F9F', // Background color of button
                button_anchor_color: 'FFFFFF', // Font color of Button
                logout_anchor_color: '727272', // Font color of logout mark (The one with 'Login as other user'
            },
        }).init();

    </script>
{% endfilter %}
</pre>
    </li>
    <li>
        That's it. You'll get a nice looking login button there.
    </li>
</ul>
