{% extends 'sso/logged_in.html' %}
{% load staticfiles %}

{% block title %}
    User: Home
{% endblock %}

{% block cssLinks %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <link rel="stylesheet" type="text/css" href="{% static 'user_resource/css/home.css' %}"/>
{% endblock %}

{% block jsLinks %}
    <script type="application/javascript" src="{% static 'user_resource/js/home.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <form role="form" action="{% url 'user:update_address' %}" method="post">
                <fieldset class="fieldset-border">
                    <legend class="marginless">Institute Address</legend>
                    {% csrf_token %}
                    {% if insti_address_form.errors %}
                        <ul>
                            {% for error in insti_address_form.errors %}
                                <li><strong>{{ error }}</strong></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="form-group {% if insti_address_form.hostel.errors %} has-error {% endif %}">
                        {{ insti_address_form.hostel.label_tag }}
                        {{ insti_address_form.hostel }}
                    </div>
                    <div class="form-group {% if insti_address_form.room.errors %} has-error {% endif %}">
                        {{ insti_address_form.room.label_tag }}
                        {{ insti_address_form.room }}
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </fieldset>
            </form>
            <form role="form" action="{% url 'user:update_program' %}" method="post" style="margin-top: 40px;">
                <fieldset class="fieldset-border">
                    <legend class="marginless">Program</legend>
                    {% csrf_token %}
                    {% if program_form.errors %}
                        <ul>
                            {% for error in program_form.errors %}
                                <li><strong>{{ error }}</strong></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% for field in program_form %}
                        <div class="form-group {% if field.errros %} has-error {% endif %}">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </fieldset>
            </form>
        </div>
        <div class="col-md-6">
            <form role="form" action="{% url 'user:update_mobile' %}" method="post">
                <fieldset class="fieldset-border">
                    <legend class="marginless">Contact Numbers</legend>
                    {% csrf_token %}
                    {% if ldap_number and ldap_number != '' %}
                        <div class="form-group">
                            <input class="form-control" type="text" value="{{ ldap_number }} (fetched from ldap)" disabled/>
                        </div>
                    {% endif %}
                    {% for mobile_number in mobile_numbers %}
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" name="phone" value="{{ mobile_number.number }}"/>
                                <a class="remove-input input-group-addon backgroundless-input-group-addon" href="#">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="text" name="phone">
                            <a class="add-input input-group-addon backgroundless-input-group-addon" href="#">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </fieldset>
            </form>
            <form role="form" action="{% url 'user:update_email' %}" method="post" style="margin-top: 40px;">
                <fieldset class="fieldset-border">
                    <legend class="marginless">Emails</legend>
                    {% csrf_token %}
                    {% if gpo_email %}
                        <div class="form-group">
                            <input class="form-control" type="email" value="{{ gpo_email }}" disabled/>
                        </div>
                    {% endif %}
                    {% for email in secondary_emails %}
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" name="email" value="{{ email.email }}"/>
                                <a class="remove-input input-group-addon backgroundless-input-group-addon" href="#">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="email" name="email">
                            <a class="add-input input-group-addon backgroundless-input-group-addon" href="#">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}