{% extends 'sso/root.html' %}
{% load staticfiles %}
{% load absolute_url %}

{% block cssLinks %}
    <link rel="stylesheet" type="text/css" href="{% static 'sso/css/doc.css' %}"/>
{% endblock %}

{% block body %}

    <h4>Writing a new application to is quite easy since the whole implementation is following the
        <a href="https://tools.ietf.org/html/rfc6749" target="_blank">RFC 6749</a> for OAuth 2.0</h4>
    <h4><a href="http://tutorials.jenkov.com/oauth2/overview.html" target="_blank">Here</a> is a nice tutorial for OAuth
        2.0</h4>

    <ul id="tabs" class="nav nav-tabs" role="tablist" style="margin-top: 25px;">
        <li role="presentation" class="active">
            <a href="#basic" id="basic-tab" role="tab" data-toggle="tab" aria-controls="basic">Basic</a>
        </li>
        <li role="presentation">
            <a href="#widgets" id="widgets-tab" role="tab" data-toggle="tab" aria-controls="widgets">Widgets</a>
        </li>
        <li role="presentation">
            <a href="#best-practices" id="best-practices-tab" role="tab" data-toggle="tab" aria-controls="best-practices">Best Practices</a>
        </li>
        <li role="presentation">
            <a href="#third-party" id="tp-tab" role="tab" data-toggle="tab" aria-controls="third-parth">Third Party</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="basic" aria-labelledby="basic-tab">
            <h3 id="registration">Registering application</h3>
            <ul class="doc">
                <li>To register an application open <a href="{% url 'oauth:register' %}" target="_blank">this link</a>
                </li>
                <li>Provide a nice name to your application, write a brief description and add a cool little logo</li>
                <li>Unless your application is entirely client based (like JS), use <code>Client Type:
                    confidential</code>
                    and <code>Authorization grant type: authorization code</code></li>
                <li>Add a list of redirect URIs. Redirect URIs are the URLs where your client will be redirected to
                    after
                    authorization. Let's say you have entered <code>http://www.example.com/authorization/</code>
                </li>
                <li>Click Submit! That's it, you've registered an application. You can access your applications at
                    <a href="{% url 'oauth:list' %}" target="_blank">list of applications</a></li>
            </ul>

            <h3 id="authorization_workflow">Authorization workflow</h3>
            <ul class="doc">
                <li>
                    To authenticate a client, add some button to your webpage for login like
                    <a class="btn btn-primary">Login With SSO</a>
                </li>
                <li>
                    By clicking to that button, your client should be redirect to

                    {% url 'oauth:authorize' as authorization_url %}
                    <pre> {% absolute_url authorization_url %}?client_id=YOUR_CLIENT_ID&response_type=code&scope=basic&redirect_uri=REDIRECT_URI&state=some_state</pre>
                    <code>scope</code>, <code>redirect_uri</code> and <code>state</code> are optional here.
                    <code>state</code>
                    can be anything, it will be returned back to you after authorization. You can use this to rememeber
                    your
                    client. <code>redirect_uri</code> should be from redirect uri you registered for app. If nothing is
                    provided
                    here then first redirect uri will be assumed to be default. From now onwards we'll call it
                    <code>REDIRECT_URI</code>. <code>scope</code> is a string of space separated scopes.
                    <ul>
                        Available scopes are
                        <li><strong>basic</strong>: <em>It includes your user id from SSO server (not the ldap id)</em>
                        </li>
                        <li><strong>profile</strong>: <em>Your first_name and last_name</em></li>
                        <li><strong>ldap</strong>: <em>Your ldap username and email</em></li>
                        <li><strong>phone</strong>: <em>Your contact number including additional numbers</em></li>
                        <li><strong>insti_address</strong>: <em>Your address inside institute</em></li>
                        <li><strong>program</strong>: <em>Your roll number, department, course, joining year and
                            graduation
                            year</em></li>
                        <li><strong>secondary_emails</strong>: <em>Your alternate emails</em></li>
                        <li><strong>send_mail</strong>: <em>Allow application to send you email via SSO</em></li>
                    </ul>
                    If nothing is provided in <code>scope</code> parameter then <strong>basic</strong> scope will be
                    assumed.
                    <br>
                    Now your client will see something similar to
                    <a href="{% static 'sso/img/authorization_image.png' %}" target="_blank">this image</a>
                </li>
                <li>If client has denied your request you'll get <code>REDIRECT_URI?error=access_denied</code> else
                    you'll get
                    <code>REDIRECT_URL?state=some_state&code=AUTHORIZATION_CODE</code>. <code>AUTHORIZATION_CODE</code>
                    will be
                    an alpha-numeric code
                </li>
                <li>
                    <b>Or ignore all above points and use our widget</b>. Check widget section on top
                </li>
            </ul>

            <h3 id="token_exchange">Token Exchange</h3>
            <ul class="doc">
                Now assuming that you've received <code>AUTHORIZATION_CODE</code> after client has authorized itself.
                <code>AUTHORIZATION_CODE</code> is short lived code. You need to redeem it quickly to get
                <code>access_token</code>
                <li>
                    {% url 'oauth2_provider:token' as token_url %}
                    Make a request for token exchange to <code>{% absolute_url token_url %}</code>. You're HTTP request
                    will
                    look like
<pre>
POST {{ token_url }} HTTP/1.1
Host: {{ request.get_host }}
Authorization: Basic AUTHENTICATION_TOKEN
Content-Type: application/x-www-form-urlencoded; charset=UTF-8


code=AUTHORIZATION_CODE&redirect_uri=REDIRECT_URI&grant_type=authorization_code
</pre>
                    <b><code>AUTHENTICATION_TOKEN</code> is base64 of <code>CLIENT_ID:CLIENT_SECRET</code>.</b>
                    <b>Here <code>code</code>, <code>redirect_uri</code> and <code>grant_type</code> are compulsory</b>
                </li>
                <li>
                    Now assuming you've created a valid http request here, you'll now get <code>access_token</code> and
                    <code>refresh_token</code> as json
<pre>
{
    "access_token" : "access_token",
    "token_type" : "Bearer",
    "expires_in" : "36000",
    "refresh_token" : "refresh_token",
    "scope" : "basic"
}
</pre>
                    <code>access_token</code> and <code>refresh_token</code> are both alpha-numeric strings<br>
                    <code>access_token</code> are short living tokens and will expire in 10 hours.
                    <code>refresh_token</code>
                    are
                    long living tokens and you should save them in your database for future purpose.<br>
                    <code>scope</code> is space separated list of scopes that client has granted to you. You should also
                    save
                    these scope in your database for reference purpose. <br>
                    At this point you should also create session for your client on your website since client is
                    authenticated
                    now
                </li>
            </ul>

            <h3 id="refresh_token">Refreshing Token</h3>
            <ul class="doc">
                Since <code>access_token</code> will expire quickly, you need to generate new <code>access_token</code>
                with
                <code>refresh_token</code>
                <li>
                    Refreshing token is similar to token exchange with (almost) same http request to server. Only your
                    post data
                    will changed and new post data will be
                    <code>refresh_token=REFRESH_TOKEN&grant_type=refresh_token</code>
                </li>
                <li>
                    The response JSON will be almost same with only <code>access_token</code> and
                    <code>refresh_token</code>
                    both changed. You need to update your <code>refresh_token</code> in database
                </li>
            </ul>

            <h3 id="revoke_token">Revoking Token</h3>
            <ul class="doc">
                <li>
                    To revoke client access, create the following http request
<pre>
POST {% url 'oauth2_provider:revoke-token' %} HTTP/1.1
Host: {{ request.get_host }}
Content-Type: application/x-www-form-urlencoded; charset=UTF-8


token=TOKEN&client_id=CLIENT_ID&client_secret=CLIENT_SECRET&token_type_hint=TOKEN_TYPE
</pre>
                    Here <code>TOKEN</code> can be <code>access_token</code> or <code>refresh_token</code><br>
                    <code>token_type_hint</code> is optional. <code>TOKEN_TYPE</code> should be either
                    <em>access_token</em> or
                    <em>refresh_token</em>

                </li>
            </ul>

            <h3 id="user_resources_api">Accessing API</h3>
            <ul class="doc">
                By now you have created API, got access_token and authenticated user. But still you don't know who the
                user is?
                For that purpose you need to access user resources API. Currently API is limited to few user resources
                only and
                in future we're planning to expand it a lot. <br>
                User data is stored at <a href="{% url 'user:home' %}" target="_blank">sso</a> server. And as an
                application
                developer you should encourage users to update their data there.

                <li>
                    Available user resources are:
                    <ul>
                        <li>
                            <b>basic:</b> Basic resource includes <code>id</code> only. You need to have <b>basic</b>
                            scope for
                            this
                        </li>
                        <li>
                            <b>first_name:</b> First name of the user. You need to have <b>profile</b> scope for this
                        </li>
                        <li>
                            <b>last_name:</b> Last name of the user. You need to have <b>profile</b> scope for this
                        </li>
                        <li>
                            <b>username:</b> LDAP username of the user. You need to have <b>ldap</b> scope for this
                        </li>
                        <li>
                            <b>email:</b> LDAP email (username@iitb.ac.in) of the user. You need to have
                            <b>ldap</b> scope for this
                        </li>
                        <li>
                            <b>mobile:</b> Mobile includes mobile number of client fetched from LDAP. You need to have
                            <b>phone</b> scope for this
                        </li>
                        <li>
                            <b>roll_number:</b> Roll number includes roll number of client fetched from LDAP. You need
                            to have
                            <b>program</b> scope for this
                        </li>
                        <li>
                            <b>contacts:</b> Phone resource includes all the contact number provided by client. You need
                            to have
                            <b>phone</b> scope for this
                        </li>
                        <li>
                            <b>insti_address:</b> This resource includes user's room number and hoste number. You need
                            <b>insti_address</b> scope for this
                        </li>
                        <li>
                            <b>program:</b> Program includes user's joining year, (expected) graduation year, department
                            and
                            degree. You need to have <b>program</b> scope for this
                        </li>
                        <li>
                            <b>secondary_emails:</b> This resource includes user's emails other than default ldap email.
                            You
                            need to have <b>secondary_emails</b> scope for this
                        </li>
                    </ul>
                </li>

                <li>
                    To access user's resources make a GET request to
                    {% url 'user:api:user-list' as user_resource_url %}
                    {% absolute_url user_resource_url as user_resource_abs_url %}
                    <code>{{ user_resource_abs_url }}?fields=RESOURCE_LIST</code>. <code>fields</code> is optional
                    parameter
                    and by default it includes <code>basic</code> fields. <code>RESOURCE_LIST</code> is comma-separated
                    list of
                    user resources. You should include <code>access_token</code> in request header as
<pre>
GET {{ user_resource_url }} HTTP/1.1
Host: {{ request.get_host }}
Authorization: Bearer ACCESS_TOKEN
</pre>
                </li>
                <li>
                    The output for <code>{{ user_resource_abs_url }}?fields=first_name,last_name,username,email,program,contacts,insti_address,secondary_emails,mobile,roll_number</code>
                    will look like (assuming you've enough scopes)
<pre>
{
  "id": 1,
  "username": "username",
  "first_name": "First Name",
  "last_name": "Last Name",
  "email": "username@iitb.ac.in",
  "mobile": "0123456789",
  "roll_number": "123456789",
  "program": {
    "id": 1,
    "department": "DEPARTMENT",
    "join_year": 2012,
    "graduation_year": 2016,
    "degree": "DEGREE"
  },
  "secondary_emails": [
    {
      "id": 1,
      "email": "user_email@gmail.com"
    }
  ],
  "contacts": [
    {
      "id": 1,
      "number": "9876543210"
    }
  ],
  "insti_address": {
    "id": 1,
    "room": "room_number",
    "hostel": "HOSTEL",
  }
}
</pre>
                    Here you'll get only resources permitted by user in scope.
                </li>
                <li>
                    <code>DEPARTMENT</code> list:
                    <ul>
                        <li><b>AE:</b> <em>Aerospace Engineering</em></li>
                        <li><b>BB:</b> <em>Biosciences and Bioengineering</em></li>
                        <li><b>CHE:</b> <em>Chemical Engineering</em></li>
                        <li><b>CH:</b> <em>Chemistry</em></li>
                        <li><b>CLE:</b> <em>Civil Engineering</em></li>
                        <li><b>CSE:</b> <em>Computer Science & Engineering</em></li>
                        <li><b>ES:</b> <em>Earth Sciences</em></li>
                        <li><b>EE:</b> <em>Electrical Engineering</em></li>
                        <li><b>ESE:</b> <em>Energy Science and Engineering</em></li>
                        <li><b>HSS:</b> <em>Humanities & Social Science</em></li>
                        <li><b>IDC:</b> <em>Industrial Design Centre</em></li>
                        <li><b>MM:</b> <em>Mathematics</em></li>
                        <li><b>ME:</b> <em>Mechanical Engineering</em></li>
                        <li><b>MEMS:</b> <em>Metallurgical Engineering & Materials Science</em></li>
                        <li><b>PH:</b> <em>Physics</em></li>
                    </ul>
                </li>
                <li>
                    <code>DEGREE</code> list:
                    <ul>
                        <li><b>BTECH:</b> <em>Bachelor of Technology</em></li>
                        <li><b>MTECH:</b> <em>Master of Technology</em></li>
                        <li><b>DD:</b> <em>Dual Degree</em></li>
                        <li><b>MSC:</b> <em>Master of Science</em></li>
                        <li><b>PHD:</b> <em>PhD</em></li>
                        <li><b>MDES:</b> <em>Master of Design</em></li>
                        <li><b>MPHIL:</b> <em>Master of Philosophy</em></li>
                        <li><b>MMG:</b> <em>Master of Management</em></li>
                    </ul>
                </li>
                <li>
                    <code>HOSTEL</code> list:
                    <ul>
                        <li><b>1:</b> <em>Hostel 1</em></li>
                        <li><b>2:</b> <em>Hostel 2</em></li>
                        <li><b>3:</b> <em>Hostel 3</em></li>
                        <li><b>4:</b> <em>Hostel 4</em></li>
                        <li><b>5:</b> <em>Hostel 5</em></li>
                        <li><b>6:</b> <em>Hostel 6</em></li>
                        <li><b>7:</b> <em>Hostel 7</em></li>
                        <li><b>8:</b> <em>Hostel 8</em></li>
                        <li><b>9:</b> <em>Hostel 9</em></li>
                        <li><b>10:</b> <em>Hostel 10</em></li>
                        <li><b>11:</b> <em>Hostel 11</em></li>
                        <li><b>12:</b> <em>Hostel 12</em></li>
                        <li><b>13:</b> <em>Hostel 13</em></li>
                        <li><b>14:</b> <em>Hostel 14</em></li>
                        <li><b>15:</b> <em>Hostel 15</em></li>
                        <li><b>16:</b> <em>Hostel 16</em></li>
                        <li><b>tansa:</b> <em>Tansa</em></li>
                        <li><b>qip:</b> <em>QIP</em></li>
                    </ul>
                </li>

            </ul>

            <h3 id="send_mail_api">Send Mail API</h3>
            <ul class="doc">
                This application also provides a "send mail" API, which allows your application to send email to user
                from
                a simple endpoint. You need to have <code>send_mail</code> permission from user for this to work
                <li>
                    Create a POST request like this:
<pre>
POST {% url 'user:api:user-send-mail' %} HTTP/1.1
Host: {{ request.get_host }}
Authorization: Bearer ACCESS_TOKEN
Content-Type: application/json


{
    "subject": "Hello World",
    "message": "Lorem Ipsum",
    "reply_to": [
        "email_address_1@example.com",
        "email_address_2@exapple.com"
    ]
}
</pre>
                    <ul>
                        <li>
                            Final subject will be "[SSO] [&lt;APPLICATION_NAME&gt;] &lt;YOUR SUBJECT&gt;". This is
                            automatically
                            generated.
                        </li>
                        <li>
                            Final message will have these line appended:
<pre>
Sent via SSO by Test

You received this message because you've provided the email sending permission to the application
</pre>
                        </li>
                        <li>
                            <code>reply_to</code> is list of email address where you want your user to reply. Most of
                            the mail
                            servers honor this protocol and by clicking on "reply" will directly reply to these emails.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>DISCLAIMER:</strong>
                    <em>We do not store emails in our database. We do store <code>Message-ID</code>, failure state,
                        application
                        and user for each email. This is stored for debugging and performance improvement purposes</em>
                </li>
            </ul>
        </div>

        <div role="tabpanel" class="tab-pane fade in active" id="widgets" aria-labelledby="widgets-tab">

            <h4>Before reading this section, go through <code>basic</code> section once</h4>

            <h4>For the ease of users and application developers, we've created some widgets for you. Using widgets
                will provide extra contextual information to your users</h4>

            <h3>Login Widget</h3>

            <div class="doc">
                By including few lines of html and javascript in your web-page, you can get nice looking login button
                which changes according to user logged-in. Here is an example: <br><br>

                <div id="sso-root"></div>

                To include these widgets follow these steps
            </div>
            <ul class="doc">
                <li>Include
                    <code>&lt;script src="{% absolute_url login_js_url %}" type="application/javascript"&gt;&lt;/script&gt; </code>
                    in your html file
                </li>
                <li>
                    Include <code>&lt;div id="sso-root"&gt;&lt;/div&gt;</code> in your html where you want to keep your
                    login button
                </li>
                <li>
                    Now write some primary configuration for button to work
<pre>
{% filter force_escape %}
    <script type="application/javascript">
        sso_root.config = {
            client_id: 'your-long-client-id',   //Compulsory
            scope: ['basic', 'profile'],    //Optional. Default is  ['basic']
            state: '', //Optional. Default None
            response_type: 'code',  //Optional. Default is 'code'
            redirect_uri: 'uri-for-redirection',    //Optional
            new_window: 'false',    //Optional.
                                    // Where authorization page should be opened in new tab or
                                    // same tab Default is false.
            sso_root: document.getElementById('sso-root'),
            /* Optional
            document.getElementById don't work if your element is not in light DOM. In that case you need to
            provide selector here. In most of the cases this will work.
             */
        };
        sso_root.render();
    </script>
{% endfilter %}
</pre>
                </li>
            <li>
                That's it. You'll get a nice looking login button there.
            </li>
            </ul>

        </div>

        <div role="tabpanel" class="tab-pane fade in" id="best-practices" aria-labelledby="best-practices-tab">
            <h3>While developing an application based on SSO, keep following things in mind!</h3>
            <ul class="doc">
                <li>
                    Don't ask for too much permissions. Ask for necessary permissions only. Respect user's privacy!
                </li>
                <li>
                    Store <code>refresh_token</code> and <code>access_token</code> on your server. They can be used for
                    background requests.
                </li>
                <li>
                    Maintain sessions for your user! Don't overwhelm the SSO server by authorization requests.
                </li>
                <li>
                    If user hasn't provided the necessary permissions, <b>revoke the token!</b> Otherwise user will see
                    your application in list of connected apps.
                </li>
                <li>
                    Use login-button widget!
                </li>
            </ul>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="third-party" aria-labelledby="tp-tab">

            <h4>We are trying to provide best we can. Efforts from your side are appreciated. Here are few third
            party implementations</h4>

            <h3>PHP</h3>
            <p class="doc">
                <a href="https://github.com/BijoySingh" target="_blank">BijoySingh</a> is maintaining a
                <a href="https://github.com/BijoySingh/IITB-OAuth-PHP" target="_blank">PHP implementation</a>
            </p>

        </div>
    </div>
{% endblock %}

{% block jsLinks %}
    <script src="{% static 'sso/js/anchor.min.js' %}" type="application/javascript"></script>
    <script type="application/javascript">
        anchors.add('h3');
    </script>
    <script src="{% static 'widget/js/login.js' %}" type="application/javascript"></script>
    <script type="application/javascript">
        sso_root.config = {
            client_id: 'test',
            scope: ['basic', 'profile']
        };
        sso_root.render();
    setTimeout(function(){$("#widgets").removeClass("in active");}, 1000);
    </script>
{% endblock %}