{% extends 'sso/root.html' %}
{% load staticfiles %}
{% load absolute_url %}

{% block title %}
    Documentation - {{ active_tab.name }}
{% endblock %}

{% block cssLinks %}
    <link rel="stylesheet" type="text/css" href="{% static 'sso/css/doc.css' %}"/>
{% endblock %}

{% block body %}

    <h4>Writing a new application to is quite easy since the whole implementation is following the
        <a href="https://tools.ietf.org/html/rfc6749" target="_blank">RFC 6749</a> for OAuth 2.0</h4>
    <h4><a href="http://tutorials.jenkov.com/oauth2/index.html" target="_blank">Here</a> is a nice tutorial for OAuth
        2.0</h4>
    <h4>General discussion regarding implementation is handled on google group
        <a href="https://groups.google.com/forum/#!forum/iitb-sso" target="_blank">IITB SSO</a>. If you're devleoping
        with SSO, please join the group for queries and discussion</h4>

    <ul id="tabs" class="nav nav-tabs" role="tablist" style="margin-top: 25px;">
        {% for tab in tabs %}
            <li role="presentation" {% if tab.is_active %}class="active"{% endif %}>
                <a href="#{{ tab.tab }}" id="{{ tab.tab }}-tab" role="tab" data-toggle="tab" data-url="{{ tab.url }}"
                   aria-controls="{{ tab.tab }}" data-title="Documentation - {{ tab.name }}">{{ tab.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <div id="myTabContent" class="tab-content">

        {% for tab in tabs %}
            <div role="tabpanel" class="tab-pane fade in {% if tab.is_active %}active{% endif %}" id="{{ tab.tab }}"
                 aria-labelledby="{{ tab.tab }}-tab">
                {% with tab_template='sso/doc_includes/'|add:tab.template_name %}
                    {% include tab_template %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block jsLinks %}
    <script src="{% static 'sso/js/anchor.min.js' %}" type="application/javascript"></script>
    <script type="application/javascript">
        anchors.add('h3');
    </script>
    <script src="{% static 'widget/js/login.js' %}" type="application/javascript"></script>
    <script type="application/javascript">
        window.history.pushState({}, '', '{{ active_tab.url }}');
        var is_widget_loaded = {% if active_tab.tab == 'widgets'  %}true{% else %}false{% endif %};
    </script>
    <script src="{% static 'sso/js/doc.js' %}" type="application/javascript"></script>
{% endblock %}