{% extends 'sso/root.html' %}
{% load staticfiles %}
{% load absolute_url %}

{% block title %}
    Documentation
{% endblock %}

{% block cssLinks %}
    <link rel="stylesheet" type="text/css" href="{% static 'sso/css/doc.css' %}"/>
{% endblock %}

{% block body %}

    <h4>Writing a new application to is quite easy since the whole implementation is following the
        <a href="https://tools.ietf.org/html/rfc6749" target="_blank">RFC 6749</a> for OAuth 2.0</h4>
    <h4><a href="http://tutorials.jenkov.com/oauth2/index.html" target="_blank">Here</a> is a nice tutorial for OAuth
        2.0</h4>

    <ul id="tabs" class="nav nav-tabs" role="tablist" style="margin-top: 25px;">
        <li role="presentation" class="active">
            <a href="#basic" id="basic-tab" role="tab" data-toggle="tab" aria-controls="basic">Basic</a>
        </li>
        <li role="presentation">
            <a href="#api" id="api-tab" role="tab" data-toggle="tab" aria-controls="api">API</a>
        </li>
        <li role="presentation">
            <a href="#widgets" id="widgets-tab" role="tab" data-toggle="tab" aria-controls="widgets">Widgets</a>
        </li>
        <li role="presentation">
            <a href="#best-practices" id="best-practices-tab" role="tab" data-toggle="tab"
               aria-controls="best-practices">Best Practices</a>
        </li>
        <li role="presentation">
            <a href="#libraries" id="library-tab" role="tab" data-toggle="tab" aria-controls="third-parth">Libraries</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">

        {% include 'sso/doc_includes/basic.html' %}

        {% include 'sso/doc_includes/api.html' %}

        {% include 'sso/doc_includes/widget.html' %}

        {% include 'sso/doc_includes/pratices.html' %}

        {% include 'sso/doc_includes/library.html' %}
    </div>
{% endblock %}

{% block jsLinks %}
    <script src="{% static 'sso/js/anchor.min.js' %}" type="application/javascript"></script>
    <script type="application/javascript">
        anchors.add('h3');
    </script>
    <script src="{% static 'widget/js/login.js' %}" type="application/javascript"></script>
    <script type="application/javascript">
        new SSO_JS({
            config: {
                client_id: 'your-long-client-id',   // Compulsory
                scope: ['basic', 'profile'],    // Optional. Default is  ['basic']
                state: '', // Optional. Default None
                response_type: 'code',  // Optional. Default is 'code'
                redirect_uri: 'uri-for-redirection',    //Optional
                new_window: 'false',    // Optional.
                                        // Where authorization page should be opened in new tab or
                                        // same tab Default is false.
                sso_root: document.getElementById('sso-root'),
                /* Optional
                 document.getElementById don't work if your element is not in light DOM. In that case you need to
                 provide selector here. In most of the cases this will work.
                 */
            },
            colors: { // All Optional
                button_div_bg_color: '303F9F', // Background color of button
                button_anchor_color: 'FFFFFF', // Font color of Button
                logout_anchor_color: '727272', // Font color of logout mark (The one with 'Login as other user'
            },
        }).init();
        setTimeout(function () {
            $("#widgets").removeClass("in active");
        }, 1000);
    </script>
{% endblock %}