{% extends base_template %}

{% block featurette %}
    <main class="masthead" role="main">
        <div class="container" style="color: #ffffff">
            <h1 style="font-size: 110px;">SSO for IITB</h1>
            <p style="font-size: 30px; margin-bottom: 40px;">
                SSO for IITB is an OAuth application built on IITB LDAP. It provides secure and flexible
                authorization framework for application requiring LDAP authentication.
            </p>
            <div class="row" style="padding: 32px">
                <div class="col-md-6 form-group">
                    <a href="{% url 'doc' %}" class="btn btn-outline-inverse btn-lg">Docs for Developers</a>
                </div>
                <div class="col-md-6 form-group">
                    <a href="{% url 'user:home' %}" class="btn btn-outline-inverse btn-lg">User Profile Home</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}