{% extends 'sso/root.html' %}

{% block navbar_right_link %}
    <li>
    <div class="dropdown">
        <button class="btn dropdown-toggle" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 10px;">
                <span class="glyphicon glyphicon-cog" style="font-size: 25px;"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="{% url 'user:settings' %}">Apps you're connected to</a></li>
                <li><a href="{% url 'oauth:list' %}">Apps you created</a></li>
            </ul>
        </div>
    </li>
    <li><a href=""><strong>
        {% if request.user != None %}
            {{ request.user.first_name }}
        {% elif user != None %}
            {{ user.first_name }}
        {% else %}
            Unknown User
        {% endif %}
    </strong></a></li>
    <li><a href="{% url 'account:logout' %}?next={{ request.uri|urlencode }}">Logout</a></li>
{% endblock %}