{% extends 'sso/root.html' %}

{% block navbar_right_link %}
    <li>
        <div class="dropdown">
            <button class="btn dropdown-button dropdown-toggle" id="dLabel" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="padding: 10px;">
                <span class="glyphicon glyphicon-cog" style="font-size: 25px;"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="{% url 'user:settings' %}">Apps you're connected to</a></li>
                <li><a href="{% url 'oauth2_provider:list' %}">Apps you created</a></li>
            </ul>
        </div>
    </li>
    <li><a href="{% url 'user:home' %}"><strong>
        {% if user %}
            {{ user.first_name }}
        {% else %}
            Unknown User
        {% endif %}
    </strong></a></li>
    <li>
        <a href="{% url 'account:logout' %}
        {% if request.uri %}
        ?next={{ request.uri|urlencode }}
        {% endif %}">Logout</a>
    </li>
{% endblock %}