<!--
                                             _______________________
   _______________________-------------------                       `\
 /:--__                                                              |
||< > |                                   ___________________________/
| \__/_________________-------------------                         |
|                                                                  |
 |                       THE LORD OF THE RINGS                      |
 |                                                                  |
 |      "Three Rings for the Elven-kings under the sky,             |
  |        Seven for the Dwarf-lords in their halls of stone,        |
  |      Nine for Mortal Men doomed to die,                          |
  |        One for the Dark Lord on his dark throne                  |
  |      In the Land of Mordor where the Shadows lie.                 |
   |       One Ring to rule them all, One Ring to find them,          |
   |       One Ring to bring them all and in the darkness bind them   |
   |     In the Land of Mordor where the Shadows lie.                |
  |                                              ____________________|_
  |  ___________________-------------------------                      `\
  |/`--_                                                                 |
  ||[ ]||                                            ___________________/
   \===/___________________--------------------------

    A quote from one of my favourite books: The Lord of the Rings by J. R. R. Tolkien

    Ascii Art taken from http://www.asciiworld.com/-Lord-of-the-Rings-.html
-->
{% extends "sso/logged_in.html" %}
{% load i18n %}
{% load staticfiles %}
{% load scope %}

{% block title %}
    Authorization
{% endblock %}

{% block body %}
    <div class="center-block">
        {% if not error %}
            <form id="authorizationForm" method="post">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            {% static 'sso/img/default_logo.jpg' as default_image %}
                            <img class="media-object"
                                 src="{{ application.get_logo_url|default_if_none:default_image }}" width="100"
                                 height="100"
                                 alt="Application Logo">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{ application.name }}</h3>
                        {{ application.description }}
                    </div>
                </div>
                <i>Developed by - <a href='mailto:{{ application.user.email }}'>{{ application.user.username }}</a></i>
                {% if application.website %}
                    <div><a href="{{ application.website }}" target="_blank">Visit website</a></div>
                {% endif %}
                {% if application.privacy_policy %}
                    <div><a href="{{ application.privacy_policy }}" target="_blank">Read privacy policies</a></div>
                {% endif %}
                {% csrf_token %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                <h3>{% trans "Application requires following permissions" %}</h3>

                <ul class="list-unstyled">

                    {% with zipped_scopes_description=scopes|zip:scopes_descriptions %}
                        {% for scope, description in zipped_scopes_description|get_basic_scope:application %}
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input checked disabled type="checkbox" id="{{ scope }}_scope"
                                               name="scopes_array"
                                               value="{{ scope }}"/>
                                        {{ description }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                        {% for scope, description in zipped_scopes_description|remove_basic_scope:application %}
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input checked type="checkbox" id="{{ scope }}_scope" name="scopes_array"
                                               value="{{ scope }}"/>
                                        {{ description }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    {% endwith %}
                </ul>

                {{ form.errors }}
                {{ form.non_field_errors }}

                <div class="form-group" style="margin-top: 20px;">
                    <b style="color: #F83838;">Before authorizing, fill your profile <a href="{% url 'user:home' %}" target="_blank">here</a> </b>
                    <div class="controls" style="margin-top: 5px;">
                        <input type="submit" class="btn btn-large btn-danger" value="Cancel"/>
                        <input type="submit" class="btn btn-large btn-success" name="allow" value="Authorize"/>
                    </div>
                </div>
                {% if not application.is_anonymous %}
                    <h5>
                        <b>You can revoke access by visiting
                            <a target='_blank' href="{% url 'user:settings' %}">account settings</a></b>
                    </h5>
                {% endif %}
            </form>

        {% else %}
            <h2>Error: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block jsLinks %}
    <script src="{% static 'oauth2_provider/js/authorize.js' %}" type="application/javascript"></script>
{% endblock %}